*{
    margin: 0;
    padding: 0;
}
#home-screen{

    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    text-align: center;
}

#welcome-text{
    padding-top: 2%;
}

#change-bg-color{
    color: brown;
    margin-top: 3%;
}

.box{
    margin-top: 20px;
    height: 100px;
    width: 200px;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.animate_box{
    animation: animateBox 10s;
}

@keyframes animateBox {
    0%{
        background-color: magenta;
    }
    50%{
        background-color: blueviolet;
    }
    100%{
        background-color: blue;
    }
}
